.cart-container h2 {
  margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
}


.cart-container .empthy-msg{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin: 30px auto;
}
.right{
  margin: auto;
}

.cart-plant-card {
    margin-top: 20px;
    background: #F1F1F1;
    border-radius: 15px;
    border:1px solid #F1F1F1;
    box-shadow: 
      8px 8px 10px #d1d1d1, 
      -8px -8px 15px #ffffff; 
  }
  
 

  

  .cart-plant-card-image {
    border-radius: 15px;
    object-fit: cover;
    height: 100px;
    width: 100px;
    box-shadow: 
      inset 4px 4px 6px #d1d1d1, 
      inset -4px -4px 6px #ffffff; 
  }
  .cart-delete-icon {
    font-size: 24px;
    color: #999; 
    cursor: pointer; 
    margin-right: 10px; 
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .cart-delete-icon:hover {
    transform: scale(1.2);
    color: #a71d2a; 
  }


  